@use 'fonts' as *;
@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin logo {
    font-family: 'Newsreader';
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: $primary-color-black;
}