@use 'fonts' as *;
@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin logo {
    font-family: 'Newsreader';
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: $primary-color-black;
}

@mixin formfield {
    padding: 0.5rem;
    border: 2px solid $secondary-color-green;
    border-radius: 0.5rem;
    outline: none;
    margin-top: 0.5rem;
    font-family: 'Outfit';
}