@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.footer {
    padding: 1rem 0;

    &__logo {
        @include logo;
        display: inline-block;
        margin-bottom: 2rem;
    }

    &__keywords-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    &__nav-link {
        text-decoration: none;
        color: $primary-color-black;
    }

    &__legal-text-container {
        color: $secondary-color-green;
        display: flex;
        gap: 0.5rem;
    }
}