@use '../styles/partials/fonts' as *;
@use '../styles/partials/variables' as *;

.hero {
    margin-bottom: 3rem;
    padding-top: 1rem;

    &__mission {
        font-family: 'Outfit';
        font-weight: 300;
        margin: 0;
    }

    &__mission-statement {
        font-family: 'Newsreader';
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.375rem;
        margin: 1rem 0 3rem;
    }

    &__italic {
        font-style: italic;
    }
}