@use '../styles/partials/fonts' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.hero {
    padding-top: 0.5rem;
    margin-bottom: 3rem;

    &__mission {
        font-family: 'Outfit';
        font-weight: 300;
    }

    &__mission-statement {
        font-family: 'Newsreader';
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 1rem 0 3rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__italic {
        font-style: italic;
    }
}