@use '../styles/partials/fonts' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.hero {
    margin: 0.5rem 0 3rem;

    @include desktop {
        margin: 5rem 0;
    }

    &__mission {
        font-family: 'Outfit';
        font-weight: 300;
    }

    &__mission-statement {
        font-family: 'Newsreader';
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 1rem 0 3rem;

        @include tablet {
            font-size: 2.5rem;
        }

        @include desktop {
            width: 50%;
            font-size: 3rem;
        }
    }

    &__italic {
        font-style: italic;
    }
}