@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.photos {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
        font-size: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }

    &--filter-open-desktop {
        width: 65%;
        padding-bottom: 3rem;
    }
}

.card {
    border: 1px solid $secondary-color-green;
    border-radius: 0.5rem;
    font-weight: 400;
    color: $primary-color-black;
    text-decoration: none;

    @include tablet {
        flex: 0 1 48.5%;
        border-radius: 0.75rem;
    }

    @include desktop {
        flex: 0 1 32%;
    }

    &--filter-open-desktop {
        flex-basis: 48%;
    }

    &__image-container {
        position: relative;
    }

    &__image {
        width: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;  
        display: block;

        @include tablet {
            border-top-left-radius: 0.75rem;
            border-top-right-radius: 0.75rem; 
        }
    }

    &__photographer {
        background-color: $secondary-color-sage;
        padding: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom: 1px solid $secondary-color-green;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__tags-container {
        background-color: $secondary-color-sage;
        position: relative;
        padding: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        display: flex;
        gap: 0.5rem;

        @include tablet {
            border-bottom-left-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem; 
        }
    }

    &__tag {
        border-radius: 0.5rem;
        border: 1px solid $secondary-color-green;
        padding: 0.375rem 0.5rem;
        background-color: $secondary-color-white;

        @include tablet {
            padding: 0.5rem 0.75rem;
            border-radius: 0.75rem;
        }
    }
}