@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 1rem;
    font-family: 'Outfit';
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem;
    background-color: $primary-color-pistachio;
}